# Default
*                           @doc-guild

# By team DE
/de/app.adoc                @DDBreidenbach
/de/app/                    @DDBreidenbach
/de/artikel.adoc            @grbates
/de/artikel/                @grbates
/de/auftraege.adoc          @jawendel
/de/auftraege/              @jawendel
/de/automatisierung.adoc    @DDBreidenbach @jawendel
/de/automatisierung/        @DDBreidenbach @jawendel
/de/changelog.adoc          @ksted
/de/changelog/              @ksted
/de/crm.adoc                @awinzek
/de/crm/                    @awinzek
/de/fulfillment.adoc        @awinzek
/de/fulfillment/            @awinzek
/de/maerkte.adoc            @khoffmeister @snawratil
/de/maerkte/                @khoffmeister @snawratil
/de/payment.adoc            @jawendel
/de/payment/                @jawendel
/de/plugins.adoc            @ksted
/de/plugins/                @ksted
/de/pos.adoc                @DDBreidenbach
/de/pos/                    @DDBreidenbach
/de/warenwirtschaft.adoc    @johannabecker
/de/warenwirtschaft/        @johannabecker
/de/webshop.adoc            @fmutschler
/de/webshop/                @fmutschler

# By team EN
/en/app.adoc                @DDBreidenbach
/en/app/                    @DDBreidenbach
/en/automation.adoc         @DDBreidenbach @jawendel
/en/automation/             @DDBreidenbach @jawendel
/en/crm.adoc                @awinzek
/en/crm/                    @awinzek
/en/fulfillment.adoc        @awinzek
/en/fulfillment/            @awinzek
/en/item.adoc               @grbates
/en/item/                   @grbates
/en/markets.adoc            @khoffmeister @snawratil
/en/markets/                @khoffmeister @snawratil
/en/online-store.adoc       @fmutschler
/en/online-store/           @fmutschler
/en/orders/.adoc            @jawendel
/en/orders/                 @jawendel
/en/payment.adoc            @jawendel
/en/payment/                @jawendel
/en/plugins.adoc            @ksted
/en/plugins/                @ksted
/en/pos.adoc                @DDBreidenbach
/en/pos/                    @DDBreidenbach
/en/stock-management.adoc   @johannabecker
/en/stock-management/       @johannabecker
